body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align:center;
}

.header {
    font-weight: 400;
    font-size: 1.4rem;
    font-family: Calibri;
}

.DropZone1 {
    height: auto;
    background-color: white;
    border: 1px solid #6e8aa8;
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.RadButton_WebBlue.rbButton {
    text-align: center;
    width: 100%;
    height: 46px;
}

.k-card-header .k-card-title + .k-card-subtitle {
    color: white;
}

#RadTextBoxValidation, #RadTextBoxStoring {
    opacity: 1 !important;
}

.k-card-action {
    flex: 1 !important;
}

#RadButton1Panel, #RadButton3Panel, #RadButton4Panel, #RadButton5Panel, #RadButton7Panel {
    width: 100%;
}

#RadWindowWrapper_modalPopup {
    width:auto !important;
}